$use-default-colors-map: true;

$us-color-settings: (
  project-blue: (
    base: #0e468f,
  ),
  project-red: (
    base: #db3e2c,
  ),
  project-light-green: (
    base: #c5db67,
  ),
  project-light-blue: (
    base: #2c78db,
  ),
  project-green: (
    base: #778f15,
  ),
  light: (
    base: #f4f5f8,
  ),
  medium: (
    base: #989aa2,
  ),
  dark: (
    base: #222428,
  ),
);

$color-darken: 12%;
$color-lighten: 12%;
$color-opacity: 0.3;

$isDeeper: false;
$isDeepest: false;
