// @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://use.typekit.net/jhi0bwg.css');
* {
  font-family: 'europa', sans-serif;
}

body {
  --ion-background-color: #1a1a1a;
  --ion-background-color-rgb: 18, 18, 18;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255, 255, 255;

  --ion-tab-bar-background: #121212;
}
