<ion-tabs>
  <ion-tab-bar id="ion-tabs" slot="bottom">
    <ion-tab-button tab="calculation">
      <ion-icon name="calculator-outline"></ion-icon>
      <ion-label>Berechnung</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-tab-button>

    <ion-tab-button tab="model">
      <ion-icon src="assets/icon/space-station.svg"></ion-icon>
      <ion-label>3d Model</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-tab-button>

    <ion-tab-button tab="document">
      <ion-icon name="document-text-outline"></ion-icon>
      <ion-label>Dokument</ion-label>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
