:host {
  ion-app {
    ion-content {
      .swiper-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: var(--ion-safe-area-top);
        .swiper-buttons {
          padding-top: 12px;
          button {
            width: 122px;
            padding: 10px;
            color: white;
            background-color: var(--project-blue);
            font-size: 12.5pt;
            font-weight: bold;
            transition: all 0.3s ease-in-out;
            text-align: center;
            &:active {
              background-color: var(--project-blue-light);
            }
          }
          .button-active {
            background-color: var(--project-blue-light);
          }
          .swiper-button-auto {
            border-bottom-left-radius: 8px;
            border-top-left-radius: 8px;
          }
          .swiper-button-manuell {
            border-bottom-right-radius: 8px;
            border-top-right-radius: 8px;
          }
        }
        .slides-container {
          display: flex;
          width: 100%;
          padding-top: 44px;
          .slide-auto {
            display: flex;
            width: 100%;
            margin-left: -100%;
            transition: all 0.3s ease-in-out;
          }
          .slide-manual {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-right: -100%;
            transition: all 0.3s ease-in-out;
            .types-container {
              display: flex;
              justify-content: center;
              align-items: center;
              padding-bottom: 18px;
              label {
                padding-left: 4px;
                margin-right: 12px;
                &:last-child {
                  margin-right: 0;
                }
              }
            }
            .rows-container {
              display: flex;
              flex-direction: row;
              min-height: 74px;
              .slide-row {
                width: 100%;
              }
            }
            button {
              width: 122px;
              padding: 8px;
              margin: 12px auto;
              border-radius: 8px;
              color: white;
              background-color: var(--project-blue);
              font-size: 12pt;
              font-weight: bold;
              transition: all 0.3s ease-in-out;
              text-align: center;
              &:active {
                background-color: var(--project-blue-light);
              }
            }
          }
          .slide-active-auto {
            margin-left: 0;
            opacity: 1;
          }
          .slide-active-manual {
            opacity: 1;
          }
          .slide-row {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
            p {
              display: flex;
              margin: 5px;
              label {
                width: 50%;
              }
              ion-input {
                width: 48%;
                height: 30px;
                border: solid 2px var(--project-blue-light);
                border-radius: 4px;
                background-color: transparent;
                font-size: 14px;
                &:focus {
                  color: black;
                  background-color: var(--light-dark);
                }
              }
            }
          }
        }
        .result-container {
          height: 64px;
        }
        .tracker-container {
          position: relative;
          width: 100vw;
          height: 50vw;
          background-size: contain;
          background-image: url('/assets/world-map.svg');
          .tracker {
            position: absolute;
            width: 100%;
            height: 100%;
          }
          #iss-location {
            position: absolute;
          }
        }
      }
    }
  }
}
