<ion-app>
  <ion-content>
    <div class="swiper-container">
      <div class="swiper-buttons">
        <button
          class="swiper-button-auto"
          [class.button-active]="!swiper"
          (click)="autoCalculation()"
        >
          Automatisch
        </button>
        <button
          class="swiper-button-manuell"
          [class.button-active]="swiper"
          (click)="swiper = true"
        >
          Manuell
        </button>
      </div>
      <div class="slides-container">
        <div class="slide-auto" [class.slide-active-auto]="!swiper">
          <div class="slide-row">
            <p>
              <span>Latitude:</span>&nbsp;<span>{{ userInfos?.latitude | number: '1.0-5' }}</span>
            </p>
            <p>
              <span>Longitude:</span>&nbsp;<span>{{ userInfos?.longitude | number: '1.0-5' }}</span>
            </p>
          </div>
          <div class="slide-row">
            <p>
              <span>PLZ:</span>&nbsp;<span>{{ userInfos?.zip }}</span>
            </p>
            <p>
              <span>Ort:</span>&nbsp;<span>{{ userInfos?.place }}</span>
            </p>
          </div>
        </div>
        <div class="slide-manual" [class.slide-active-manual]="swiper">
          <div class="types-container">
            <input
              type="radio"
              id="location_input"
              value="location_input"
              name="calculationType"
              checked="checked"
              (click)="changeCalculationType($event.target.value)"
            />
            <label for="location_input">Ort</label>
            <input
              type="radio"
              id="coordinates_input"
              value="coordinates_input"
              name="calculationType"
              (click)="changeCalculationType($event.target.value)"
            />
            <label for="coordinates_input">Koordinaten</label>
          </div>
          <form class="rows-container" [formGroup]="itemForm">
            <div class="slide-row" *ngIf="calculationType == 'coordinates_input'">
              <p>
                <label>Latitude:</label
                ><ion-input type="number" formControlName="latitude"></ion-input>
              </p>
              <p>
                <label>Longitude:</label
                ><ion-input type="number" formControlName="longitude"></ion-input>
              </p>
            </div>
            <div class="slide-row" *ngIf="calculationType == 'location_input'">
              <p>
                <label>Ort:</label><ion-input type="text" formControlName="location"></ion-input>
              </p>
              <p><label>PLZ:</label><ion-input type="number" formControlName="zip"></ion-input></p>
            </div>
          </form>
          <button (click)="submit()">Berechnen</button>
        </div>
      </div>
      <div class="result-container">
        {{ timeTillIssAppear }}
      </div>
      <div class="tracker-container" id="tracker-container">
        <canvas class="tracker" id="tracker"></canvas>
        <canvas class="iss-location" id="iss-location"></canvas>
      </div>
    </div>
    <div class="loading-container" *ngIf="loading">
      <div class="isLoading">
        <ion-icon src="assets/icon/space-station.svg"></ion-icon>
        <span>Loading...</span>
      </div>
    </div>
  </ion-content>
</ion-app>
